@model CompanyModel
<h1>Company management</h1>

<h2>Add new company</h2>

<div id="success-alert" class="alert alert-success" style="display:none;">Item added successfully</div>

<form method="POST">

    <div class="form-group">
        <label asp-for="Name">Company name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description">Company Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="from-group form-check">
        <input asp-for="IsVisible" class="form-check-input" />
        <label asp-for="IsVisible" class="form-check-label">Item visible?</label>
    </div>

    <div class="form-group">
        <input type="submit" value="Add new" />
    </div>

</form>

@section Scripts {
    <script src="~/js/addNewItem.js"></script>
}
